<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đặt lại mật khẩu</title>
</head>
<body>
    <h1>Đặt lại mật khẩu</h1>
    <p>Mật khẩu của bạn: {{password}}</p>
    <p>Để đặt lại mật khẩu, vui lòng nhấp vào liên kết dưới đây:</p>
    <a href="{{resetLink}}">Đặt lại mật khẩu</a>
    <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>
</body>
</html>
