<style>
    .item {
        box-shadow: 10px 10px 5px rgb(226, 226, 226);
    }
    .item:hover {
        box-shadow: 10px 10px 5px rgb(202, 202, 202);
    }
</style>

<div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 p-4 p-xl-5">
        <div class="item bg-white border rounded px-0 py-3">
            <a href="/admin/user-management" class="text-decoration-none text-center">
                <h1 class="text-info display-1"><i class="bi bi-person-circle"></i></h1>
                <p class="h5 text-info">User</p>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 p-4 p-xl-5">
        <div class="item bg-white border rounded px-0 py-3">
            <a href="/admin/category-management" class="text-decoration-none text-center">
                <h1 class="text-danger display-1"><i class="bi bi-card-list"></i></h1>
                <p class="h5 text-danger">Chuyên mục</p>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 p-4 p-xl-5">
        <div class="item bg-white border rounded px-0 py-3">
            <a href="/admin/video-management" class="text-decoration-none text-center">
                <h1 class="text-dark display-1"><i class="bi bi-film"></i></h1>
                <p class="h5 text-dark">Video</p>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 p-4 p-xl-5">
        <div class="item bg-white border rounded px-0 py-3">
            <a href="/admin/check-video" class="text-decoration-none text-center">
                <h1 class="text-success display-1"><i class="bi bi-calendar2-check-fill"></i></h1>
                <p class="h5 text-success">Kiểm duyệt</p>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 p-4 p-xl-5">
        <div class="item bg-white border rounded px-0 py-3">
            <a href="/admin/system-config" class="text-decoration-none text-center">
                <h1 class="text-secondary display-1"><i class="bi bi-gear-fill"></i></h1>
                <p class="h5 text-secondary">Thiết lập</p>
            </a>
        </div>
    </div>
</div>